<div class="box">
<section id="main">
    <div class="container">
    <aside id="sidebar">
        <div class="dark">
            <h3>Contact Us</h3>
            <form class="quote" method="post" action="./web-service/connect.php">
                <div>
                    <label>Name</label><br>
                    <input type="text" placeholder="Name" id="name">
                </div>
                <div>
                    <label>Email</label><br>
                    <input type="email" placeholder="Emial Address" id="email">
                </div>
                <div>
                    <label>Message</label><br>
                    <textarea placeholder="Message" rows="10" cols="30" id="msg"></textarea>
                </div>
                <input type="submit" id="send" value="SEND">
            </form>
        </div>
    </aside>
    </div>
    <div class="feedback">
        
    </div>
</section>
</div>